.buttonDefault {
    color: var(--color-fourth);
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 3px var(--color-fourth);
    padding: 16px;
    border: 1px solid var(--color-fourth);
    border-radius: 16px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.buttonDefault:hover {
    color: var(--color-second);
    background-color: var(--color-fourth);
    border: 1px solid var(--color-third);
    transform: scale(1.03);
}
