.buttonDefault {
    color: var(--color-fourth);
    font-weight: bold;
    font-style: italic;
    border: 1px solid var(--color-fourth);
    border-radius: 12px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.buttonDefault:hover {
    color: var(--color-second);
    background-color: var(--color-fourth);
    border: 1px solid var(--color-third);
    transform: scale(0.97);
}

/* Responsividade */
@media (min-width: 1101px) {
    .buttonDefault {
        padding: 10px;
    }

}

@media (max-width: 1100px) {
    .buttonDefault {
        padding: 8px;
    }

}

@media (max-width: 860px) {
    .buttonDefault {
        padding: 6px;
    }

}

@media (max-width: 580px) {
    .buttonDefault {
        padding: 4px;
    }

}
