.buttonDefault {
    color: var(--color-fourth);
    background-color: var(--color-second);
    padding: 16px;
    border: 2px solid var(--color-fourth);
    border-radius: 16px;
    border-style: dashed;
    cursor: pointer;
}

.buttonDefault:hover {
    border: 3px solid var(--color-third);
    transform: scale(1.03);
}