.optionsMain {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 90%;
    padding: 8px 12px;
    border-top: 2px solid var(--color-third);
    border-bottom: 2px solid var(--color-third);
    border-radius: 16px;    
    line-height: 20px;
    overflow: auto;
    z-index: 1;
}

.optionsMain::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.optionsMain::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.alternativeOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 16px;
}

.alternativeOptions:hover {
    font-weight: bold;
    transform: scale(1.01);
    transition: 0.1s;
}

/* personalizando o estilo do input radio */
.inputOptions {    
    appearance: none; /* remove o estilo padrão */
    width: 20px;
    height: 20px;
    position: relative;
    background-color: var(--color-first);
    border: 2px solid var(--color-second);
    border-radius: 50%;
    transition: 0.3s;
    padding: 8px;
    margin: 0;
    cursor: pointer;
}

/* Quando o radio está marcado */
.inputOptions:checked {
    background-color: var(--color-second);
    border: 2px solid var(--color-fourth);
}

/* Criando o ponto interno ao ser checado */
.inputOptions:checked::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--color-fourth);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centralizar o ponto */
}

.textOptions {
    margin: 0;
    text-align: justify;
    cursor: pointer;
}

/* Responsividade */
@media (min-width: 1701px) {
    .textOptions {
        font-size: 1.5rem;
        line-height: 28px;
    }
    
    .itemAlternativeMain {
        font-size: 1.5rem;
    }

}

@media (max-width: 1700px) {
    .textOptions {
        font-size: 1.5rem;
        line-height: 28px;
    }
    
    .itemAlternativeMain {
        font-size: 1.5rem;
    }

}

@media (max-width: 1100px) {
    .optionsMain {
        height: 320px;
    }

    .textOptions {
        font-size: 1.2rem;
    }

    .itemAlternativeMain {
        font-size: 1.2rem;
    }

}

@media (max-width: 860px) {
    .optionsMain {
        height: 300px;
    }

    .textOptions {
        font-size: 1rem;
    }

    .itemAlternativeMain {
        font-size: 1rem;
    }
    
}

@media (max-width: 580px) {
    .optionsMain {
        height: 350px;
    }
    
    .optionsMain::-webkit-scrollbar {
        width: 2px;
        height: 2px;  
    }

    .textOptions {
        font-size: 0.8rem;
    }

    .itemAlternativeMain {
        font-size: 0.8rem;
    }

}
