.optionsMain {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 90%;
    padding: 12px;
    border-top: 2px solid var(--color-third);
    border-bottom: 2px solid var(--color-third);
    border-radius: 16px;    
    line-height: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

.optionsMain::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.optionsMain::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.alternativeOptions {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    padding: 8px;
    width: 98%;
}

.textOptions {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: justify;
    padding: 4px 12px;
    cursor: pointer;
}

.textOptions:hover {
    font-weight: bold;
    transform: scale(1.01);
    transition: all 0.1s ease-in-out;
}

.textOptions p {
    margin: 0;
}

/* Responsividade */
@media (min-width: 1701px) {
    .itemAlternativeMain {
        font-size: 1.5rem;
    }

    .textOptions {
        font-size: 1.5rem;
        line-height: 28px;
    }
    
}

@media (max-width: 1700px) {
    .itemAlternativeMain {
        font-size: 1.5rem;
    }

    .textOptions {
        font-size: 1.5rem;
        line-height: 28px;
    }    

}

@media (max-width: 1100px) {
    .optionsMain {
        padding: 8px;
    }

    .itemAlternativeMain {
        font-size: 1.2rem;
    }

    .alternativeOptions {
        padding: 6px;
    }

    .textOptions {
        font-size: 1.2rem;
    }

}

@media (max-width: 860px) {
    .optionsMain {
        padding: 6px;
    }

    .itemAlternativeMain {
        font-size: 1rem;
    }

    .alternativeOptions {
        padding: 4px;
    }

    .textOptions {
        font-size: 1rem;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    .textOptions::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    .textOptions::-webkit-scrollbar-thumb {
        background-color: var(--color-fourth);
    }
    
}

@media (max-width: 580px) {
    .optionsMain {
        padding: 4px;
    }

    .optionsMain::-webkit-scrollbar {
        width: 2px;
        height: 2px;  
    }
    
    .itemAlternativeMain {
        font-size: 0.8rem;
    }

    .textOptions {
        font-size: 0.8rem;
    }

}
