.optionsMain {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    width: 99%;
    border-top: 2px solid var(--color-third);
    border-bottom: 2px solid var(--color-third);
    border-radius: 16px;    
    line-height: 20px;
    z-index: 1;
}

.alternativeOptions {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    padding: 8px;
    width: 98%;
}

.textOptions {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: justify;
    padding: 4px 12px;
    cursor: pointer;
}

.textOptions:hover {
    transform: scale(0.99);
    transition: all 0.1s ease-in-out;
}

.textOptions p {
    margin: 0;
}

/* Responsiveness */
@media (min-width: 1701px) {
    .textOptions {
        font-size: 1.5rem;
        line-height: 28px;
    }
    
}

@media (max-width: 1700px) {
    .textOptions {
        font-size: 1.3rem;
        line-height: 28px;
    }    

}

@media (max-width: 1100px) {
    .optionsMain {
        padding: 8px;
    }

    .alternativeOptions {
        padding: 6px;
    }

    .textOptions {
        font-size: 1.1rem;
    }

}

@media (max-width: 860px) {
    .optionsMain {
        padding: 6px;
    }

    .alternativeOptions {
        padding: 4px;
    }

    .textOptions {
        font-size: 0.9rem;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    .textOptions::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    .textOptions::-webkit-scrollbar-thumb {
        background-color: var(--color-fourth);
    }
    
}

@media (max-width: 580px) {
    .optionsMain {
        gap: 0;
        padding: 4px;
    }

    .optionsMain::-webkit-scrollbar {
        width: 2px;
        height: 2px;  
    }

    .alternativeOptions {
        font-size: 0.8rem;
        padding: 2px;
    }

    .textOptions {
        font-size: 0.8rem;
        padding: 2px;
    }

}
