.field {
    width: 100%;
    padding: 4px;
    border: 1px solid var(--color-third);
    border-radius: 16px;
    z-index: 1;
}

.labelTextarea {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    width: 100%;
}

.labelTextarea label {
    font-size: 1rem;
}

textarea {
    font-size: 1rem;
    color: var(--color-fourth);
    background-color: var(--color-first);
    height: 60px;
    width: 100%;
    border: 1px solid var(--color-third);
    border-radius: 8px;
    outline: none;
    resize: none;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-color: var(--color-first) var(--color-fourth);
}

input {
    font-size: 1rem;
    color: var(--color-fourth);
    background-color: var(--color-first);
    height: 60px;
    width: 100%;
    appearance: none;
    border: 1px solid var(--color-third);
    border-radius: 8px;
    outline: none;
}

/* esconder os spinners (setas de incremento/decremento) nos navegadores */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* responsividade */
@media screen and (max-width: 860px) {
    .labelTextarea label {
        font-size: 0.9rem;
    }   
    
}

@media screen and (max-width: 580px) {
    .labelTextarea label {
        font-size: 0.5rem;
    }

    .labelTextarea textarea {
        height: 50px;
    }

}
