.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.field label {
  color: var(--color-first);
  text-shadow: 2px 2px 3px var(--color-first);
}

.field label:hover {
  transform: scale(1.03);
}
