# Dependências locais
node_modules

# Build local (o build do CI é gerado no container)
build

# Controle de versão
.git
.gitignore

# Configurações e docs
README.md

# Variáveis de ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log
yarn-error.log

# Docker
Dockerfile
.dockerignore

# Sistema operacional
.DS_Store
