.formsNewQuestionsOptions {
    position: relative;  
}

.backgroundImage { 
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.1;
}


.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    font-size: 1rem; 
    color: var(--color-fourth);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    background-color: var(--color-second);
    width: 50%;
    padding: 12px;
    border: 1px solid var(--color-third);
    border-radius: 8px;
}

.form h1 {
    z-index: 1;
}

.optionClass {
    max-width: max-content;
}

.buttonSubmit {
    z-index: 1;
}

/* responsividade */
@media screen and (max-width: 860px) {
    .form h1 {
        font-size: 1.3rem;
    }
    
    .buttonSubmit {
        padding: 12px;
    }
    
}

@media screen and (max-width: 580px) {
    .form h1 {
        font-size: 1rem;
    }

    .buttonSubmit {
        padding: 8px;
    }

}
