.formsNewQuestionsOptions {
    position: relative;  
}

.backgroundImage { 
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.1;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    font-size: 1rem; 
    color: var(--color-fourth);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    background-color: var(--color-second);
    width: 50%;
    padding: 12px;
    border: 1px solid var(--color-third);
    border-radius: 8px;
}

.form h1 {
    z-index: 1;
    cursor: default;
}

.optionClass {
    max-width: max-content;
}

.buttonSave {
    background-color: transparent;
    z-index: 1;
}

.popupRepeatedForms {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    color: var(--color-first);
    background-color: var(--color-fourth);
    width: 15%;
    padding: 20px 12px 12px 12px;
    border: 1px solid var(--color-third);
    border-radius: 8px;
    z-index: 2; /* para estar a frente do conteúdo principal ao aparecer */
}

.popupCheckForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    color: var(--color-first);
    background-color: var(--color-fourth);
    width: 15%;
    padding: 20px 12px 12px 12px;
    border: 1px solid var(--color-third);
    border-radius: 8px;
    z-index: 2; /* para estar a frente do conteúdo principal ao aparecer */
}

.popupCompare {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    color: var(--color-first);
    background-color: var(--color-fourth);
    width: 15%;
    padding: 20px 12px 12px 12px;
    border: 1px solid var(--color-third);
    border-radius: 8px;
    z-index: 2; /* para estar a frente do conteúdo principal ao aparecer */
}

/* responsividade */
@media (max-width: 860px) {
    .form h1 {
        font-size: 1.3rem;
    }
    
    .buttonSubmit {
        padding: 12px;
    }

    .popupRepeatedForms {
        font-size: 0.8rem;
        width: 20%;
    }

    .popupCheckForm {
        font-size: 0.8rem;
        width: 20%;
    }

    .popupCompare {
        font-size: 0.8rem;
        width: 20%;
    }
    
}

@media (max-width: 580px) {
    .form h1 {
        font-size: 1rem;
    }

    .buttonSubmit {
        padding: 8px;
    }

    .popupRepeatedForms {
        font-size: 0.7rem;
        width: 25%;
    }

    .popupCheckForm {
        font-size: 0.7rem;
        width: 25%;
    }

    .popupCompare {
        font-size: 0.7rem;
        width: 25%;
    }

}
