.menuIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 40px;
  padding: 1px 4px;
  border: 1px solid var(--color-third);
  border-radius: 6px;
}
