.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.button {
  background-color: var(--color-second);
}

/* Responsividade */
@media (max-width: 1100px) {
  .button {
    font-size: 0.8rem;
    padding: 12px;
  }

}

@media (max-width: 860px) {
  .button {
    font-size: 0.7rem;
    padding: 10px;
  }

}

@media (max-width: 580px) {
  .buttons {
    gap: 2px
  }

  .button {
    font-size: 0.6rem;
  }

}
