.specificStyleButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* Responsividade */
@media (max-width: 1100px) {
  .specificStyleButton {
    font-size: 0.8rem;
    padding: 12px;
  }

}

@media (max-width: 860px) {
  .specificStyleButton {
    font-size: 0.7rem;
    padding: 10px;
  }

}

@media (max-width: 580px) {
  .specificStyleButton {
    font-size: 0.6rem;
  }

  .specificStyleButtons {
    gap: 2px
  }

}
