.buttonAnswer {
    z-index: 1;
}

.visibleAnswer {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-fourth);
    z-index: 1;
}

.invisible{
    visibility: hidden;
}

/* Responsividade */
@media screen and (max-width: 1100px) {
    .buttonAnswer {
        padding: 14px;
    }

}

@media screen and (max-width: 860px) {
    .buttonAnswer {
        padding: 12px;
    }

}

@media screen and (max-width: 580px) {
    .buttonAnswer {
        padding: 8px;
    }

}
