.button {
    color: var(--color-fourth);
    background-color: var(--color-second);
    padding: 16px;
    border: 2px solid var(--color-fourth);
    border-radius: 16px;
    border-style: dashed;
    cursor: pointer;
    z-index: 0;
}

.visibleAnswer {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-fourth);
}

.invisible{
    visibility: hidden;
}

/* Responsividade */
@media screen and (max-width: 1100px) {
    .button {
        padding: 14px;
    }

}

@media screen and (max-width: 860px) {
    .button {
        padding: 12px;
    }

}

@media screen and (max-width: 580px) {
    .button {
        padding: 10px;
    }

}
