.buttonAnswer {
    color: var(--color-fourth);
    background-color: var(--color-second);
    padding: 16px;
    border: 2px dashed var(--color-fourth);
    border-radius: 16px;
    cursor: pointer;
    z-index: 1;
}

.buttonAnswer:hover {
    border: 3px solid var(--color-third);
    transform: scale(1.03);
}

.visibleAnswer {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-fourth);
    z-index: 1;
}

.invisible{
    visibility: hidden;
}

/* Responsividade */
@media screen and (max-width: 1100px) {
    .button {
        padding: 14px;
    }

}

@media screen and (max-width: 860px) {
    .button {
        padding: 12px;
    }

}

@media screen and (max-width: 580px) {
    .button {
        padding: 8px;
    }

}
