.container {
    z-index: 1;
}

.iconsTexts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.buttonResultsModal {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--color-second);
}

.modalOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    color: var(--color-fourth);
    background-image: url(../../../imgs/bg-perfil-header.png);
    font-weight: bold;
    width: 35%;
    padding: 32px 16px;
    border: 1px solid var(--color-third);
    border-radius: 12px;
}

.modalContent:focus {
  outline: none;
}

.modalContent h1 {
    font-size: 2rem;
    padding: 8px;
    background-color: var(--color-second);
    border: 1px solid var(--color-third);
    border-radius: 16px;
    margin: 0;
    cursor: default;
}

.modalContent h1:hover {
    transform: scale(0.97);
}

.modalImageDelete {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 2em;
    width: 2em;
    background-color: var(--color-second);
    border: 1px solid var(--color-third);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.modalImageDelete:hover {
    transform: scale(0.97);
}

.modalContent p {
    font-size: 1.8rem;
    font-style: italic;
    text-decoration: underline;
    padding: 8px;
    background-color: var(--color-second);
    border: 1px solid var(--color-third);
    border-radius: 16px;
    margin: 0;
    cursor: default;
}

.modalContent p:hover {
    transform: scale(0.97);
}

.correct {
    color: var(--color-correct);
}

.incorrect {
    color: var(--color-incorrect);
}

/* Responsividade */
@media (max-width: 1100px) {
    .modalContent {
        width: 40%;
    }

    .modalImageDelete {
        height: 1.5em;
        width: 1.5em;
    }

    .modalContent h1 {
        font-size: 1.7rem;
    }
    
    .modalContent p {
        font-size: 1.5rem;
    }

}

@media (max-width: 860px) {
    .modalContent {
        width: 50%;
    }

    .modalContent h1 {
        font-size: 1.5rem;
    }
    
    .modalContent p {
        font-size: 1.3rem;
    }

}

@media (max-width: 580px) {
    .modalContent {
        width: 70%;
        gap: 22px;
    }

    .buttonResultsModal {
        left: 2px;
    }

    .modalImageDelete {
        height: 1em;
        width: 1em;
    }

    .modalContent h1 {
        font-size: 1.1rem;
    }
    
    .modalContent p {
        font-size: 1rem;
    }

}
