.buttonNext {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: var(--color-fourth);
    background-color: var(--color-second);
    padding: 16px;
    border: 2px solid var(--color-third);
    border-radius: 16px;
    border-style: dashed;
    cursor: pointer;
    z-index: 1;
}

.buttonNext:hover {
    border: 3px solid var(--color-third);
    transform: scale(1.03);
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

/* Responsividade */
@media screen and (max-width: 1100px) {
    .buttonNext {
        padding: 14px;
    }

}

@media screen and (max-width: 860px) {
    .buttonNext {
        padding: 12px;
    }

}

@media screen and (max-width: 580px) {
    .buttonNext {
        bottom: 10px;
        right: 10px;
        padding: 4px;
    }

}
