.buttonnext {
    position: absolute;
    bottom: 120px;
    right: 24px;
    color: var(--color-fourth);
    background-color: var(--color-first);
    padding: 16px;
    border: 2px solid var(--color-third);
    border-radius: 16px;
    border-style: dashed;
    cursor: pointer;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}
