.answerDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    color: var(--color-fourth);
    width: 90%;
    z-index: 1;
}

.item {
    padding: 6px;
    white-space: nowrap;
    margin: 0;
}

.itens {
    padding: 6px;
    white-space: nowrap;
    border: 2px solid var(--color-fourth);
    border-radius: 16px;
    margin: 0;
}

.answerDisplay {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
    width: 80%;
    cursor: pointer;
    overflow-wrap: break-word;
    overflow: auto;
}

.answerDisplay::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.answerDisplay::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.answerDisplay h3 {
    margin: 0;
}

.descriptionDisplay {
    font-size: 12px;
    margin: 0;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 24px;
    height: 110px;
    width: 80%;
    padding: 8px 12px;
    border-radius: 16px;
    overflow-wrap: break-word;
    overflow: auto;
}

.visibleDescription {
    visibility: visible;
}

.visibleDescription::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.visibleDescription::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.descriptionNewStyle {
    cursor: default;
    font-style: italic;
    font-weight: bold;
    background-color: var(--color-second);
    box-shadow: 3px 3px 3px var(--color-fourth);
    transform: scale(1.03);
    transition: 0.3s;
}

.imageDescription {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 6px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px var(--color-fourth);
}

.invisible {
    visibility: hidden;
}

/* Responsividade */
@media (min-width: 1701px) {
    .itens {
        font-size: 1.3rem;
    }

    .answerDisplay {
        font-size: 1.3rem;
        padding: 0 8px;
    }

    .visibleDescription {
        font-size: 1.3rem;
    }

}

@media (max-width: 1700px) {
    .itens {
        font-size: 1.3rem;
    }

    .answerDisplay {
        font-size: 1.3rem;
        padding: 0 8px;
    }

    .visibleDescription {
        font-size: 1.3rem;
    }

}

@media (max-width: 1100px) {
    .itens {
        font-size: 1.2rem;
    }

    .answerDisplay {
        font-size: 1.2rem;
    }

    .answerDisplay p {
        font-size: 10px;
    }

    .visibleDescription {
        font-size: 1.2rem;
    }

    .imageDescription {
        width: 1.2rem;
        height: 1.2rem;
    }
  
}

@media (max-width: 860px) {
    .itens {
        font-size: 1rem;
    }

    .answerDisplay {
        font-size: 1rem;
        text-align: center;
        max-height: max-content;
        max-width: max-content;
        border: 1px solid var(--color-fourth);
        border-radius: 8px;
    }

    .answerDisplay h3 {
        padding: 2px;
    }

    .answerDisplay p {
        font-size: 9px;
    }

    .visibleDescription {
        font-size: 1rem;
        width: 75%;
        border: 1px solid var(--color-fourth);
        border-radius: 8px;
    }

    .imageDescription {
        width: 1rem;
        height: 1rem;
    }

}

@media (max-width: 580px) {
    .itens {
        font-size: 0.8rem;
    }
    
    .answerDisplay {
        font-size: 0.8rem;
    }

    .answerDisplay h3 {
        overflow: auto;
    }

    .answerDisplay h3::-webkit-scrollbar {
        height: 3px;    
        width: 3px;
    }
    
    .answerDisplay h3::-webkit-scrollbar-thumb {    
        background-color: var(--color-fourth);
    }

    .visibleDescription {
        font-size: 0.8rem;
        width: 65%;
    }

    .visibleDescription::-webkit-scrollbar {
        width: 3px;
        height: 3px;    
    }

    .imageDescription {
        width: 0.8rem;
        height: 0.8rem;
    }

}
