.answerDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--color-fourth);
    width: 80%;
    z-index: 1;
}

.answerDescription::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.answerDescription::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.answerDisplay {
    display: flex;
    gap: 6px;
    font-weight: bold;
    overflow-wrap: break-word;
    cursor: default;
}

.item {
    white-space: nowrap;
    margin: 0;
    cursor: default;
}

.itens {
    padding: 8px;
    white-space: nowrap;
    border: 2px solid var(--color-fourth);
    border-radius: 16px;
    margin: 0;
    cursor: default;
}

.answerDisplay h3 {
    margin: 0;
}

/* Responsiveness */
@media (min-width: 1701px) {
    .item, .itens, .answerDisplay h3 {
        font-size: 1.3rem;
    }

}

@media (max-width: 1700px) {
    .item, .itens, .answerDisplay h3 {
        font-size: 1.3rem;
    }

}

@media (max-width: 1100px) {
    .item, .itens, .answerDisplay h3 {
        font-size: 1.2rem;
    }
  
}

@media (max-width: 860px) {
    .answerDescription {
        width: 70%;
    }

    .item, .itens, .answerDisplay h3 {
        font-size: 1rem;
    }

}

@media (max-width: 580px) {
    .item, .itens {
        font-size: 0.8rem;
    }

    .answerDisplay h3 {
        font-size: 0.8rem;
        overflow: auto;
    }

    .answerDisplay h3::-webkit-scrollbar {
        height: 3px;    
        width: 3px;
    }
    
    .answerDisplay h3::-webkit-scrollbar-thumb {    
        background-color: var(--color-fourth);
    }

}
