.container {
  z-index: 1;
}

.iconsTexts {

}

.editIcon {
  cursor: pointer;
}

.modalOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    color: var(--color-fourth);
    background: transparent;
    font-weight: bold;
    width: 35%;
    padding: 20px 12px 40px 12px;
    border: 5px solid var(--color-fourth);
    border-radius: 12px;
    z-index: 1;
}

.modalContent h1 {
  color: var(--color-first);
  text-shadow: 2px 2px 3px var(--color-first);
  cursor: default;
}

.modalContent h1:hover {
  transform: scale(1.03);
}

.formModal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.modalImageDelete {
    position: absolute;
    top: 5px;
    right: 5px;
    /* utilize a unidade 'em' para alterar o tamanho da imagem do react icon */
    height: 2em;
    width: 2em;
    background-color: var(--color-second);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.modalImageDelete:hover {
    transform: scale(1.03);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
