.allQuestionsMultiClass {
    height: 90vh;
    background-color: var(--color-first);
}

.visible {
    visibility: visible;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.invisible {
    display: none;
}

.optionValidate {
    color: var(--color-correct);
    font-weight: bold;
    border: 1px solid var(--color-correct);
    border-radius: 16px;
}

.optionInvalidate {
    color: var(--color-incorrect);
    font-weight: bold;
}
