.allQuestionsMultiClass {
    height: 90vh;
    background-color: var(--color-first);
}

.visible {
    visibility: visible;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.invisible {
    display: none;
}

.optionValidate {
    color: var(--color-fourth);
    font-weight: bold;
    padding: 0 8px;
    border: 2px solid var(--color-third);
    border-radius: 16px;
}

.optionInvalidate {
    color: #B71C1C; /* Tom mais escuro e forte */
    font-weight: bold;
}
