.allQuestionsMultiClass {
    height: 90vh;
    background-color: var(--color-first);
}

.visible {
    visibility: visible;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.invisible {
    display: none;
}

.optionValidate {
    color: green;
    font-weight: bold;
    padding: 0 8px;
    border: 2px solid yellowgreen;
    border-radius: 16px;
}

.optionInvalidate {
    color: darkred;
    font-weight: bold;
}
