.allQuestionsMultiClass {
    height: 90vh;
    background-color: var(--color-first);
}

.visible {
    visibility: visible;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.invisible {
    display: none;
}
