.buttonAnswer {
    background-color: var(--color-second);
    z-index: 1;
}

.visibleAnswer {
    visibility: visible;

}

.invisible{
    visibility: hidden;
}

.popupCheckButtonAnswer, .popupAlertMessage {
  top: 20%;
  left: 40%;
}
