.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  position: absolute;
  right: 1%;
  margin-top: 19.92px;
  color: var(--color-fourth);
  padding: 1px 4px;
  z-index: 1;
}

.menuTools {
  padding: 1px 4px;
  border: 1px solid var(--color-third);
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.menuIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 40px;
  padding: 1px 4px;
  border: 1px solid var(--color-third);
  border-radius: 6px;
}

.disableMenu {
  display: none;
}

.deleteIcon {
  cursor: pointer;
}

/* Responsividade */
@media screen and (max-width: 1100px) {
  .menu {
    font-size: 0.8rem;
  }

  .menuToolsSelector {
    width: 80%;
  }

}

@media screen and (max-width: 580px) {
  .menu {
    position: absolute;
    height: 7vh;
    right: 45%;
    top: -9%;
  }

}
