.container {    
    z-index: 1;
}

.iconesTextos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.buttonResultsModal {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.modalOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    color: var(--color-fourth);
    background: transparent;
    font-weight: bold;
    width: 50%;
    padding: 20px 12px 40px 12px;
    border: 5px solid var(--color-fourth);
    border-radius: 12px;
    z-index: 1;
}

.correct {
    color: var(--color-correct);
}

.incorrect {
    color: var(--color-incorrect);
}

.modalContent h1 {
    font-size: 2rem;
    background-color: var(--color-second);
    padding: 4px;
    border: 3px dotted var(--color-third);
    border-radius: 4px;
    cursor: default;
}

.modalContent h1:hover {
    transform: scale(1.03);
}

.modalContent p {
    font-size: 1.8rem;
    font-style: italic;
    text-decoration: underline;
    background-color: var(--color-second);
    padding: 4px;
    border: 3px dotted var(--color-third);
    border-radius: 8px;
    cursor: default;
}

.modalContent p:hover {
    transform: scale(1.03);
}

.modalImageDelete {
    position: absolute;
    top: 5px;
    right: 5px;
    /* utilize a unidade 'em' para alterar o tamanho da imagem do react icon */
    height: 2em;
    width: 2em;
    background-color: var(--color-second);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.modalImageDelete:hover {
    transform: scale(1.03);
}

/* Responsividade */
@media (max-width: 1100px) {
    .buttonResultsModal {
        padding: 14px;
    }

    .modalImageDelete {
        height: 1.5em;
        width: 1.5em;
    }

    .modalContent h1 {
        font-size: 1.7rem;
    }
    
    .modalContent p {
        font-size: 1.5rem;
    }

}

@media (max-width: 860px) {
    .buttonResultsModal {
        left: 12px;
        padding: 12px;
    }

    .modalContent h1 {
        font-size: 1.5rem;
    }
    
    .modalContent p {
        font-size: 1.3rem;
    }

}

@media (max-width: 580px) {
    .buttonResultsModal {
        bottom: 10px;
        left: 2px;
        padding: 4px;
    }

    .modalImageDelete {
        height: 1em;
        width: 1em;
    }

    .modalContent h1 {
        font-size: 0.9rem;
    }
    
    .modalContent p {
        font-size: 0.7rem;
    }

}
