.backgroundImage {
    position: absolute;
    height: 90vh;
    width: 100%;
    opacity: 0.1;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    color: var(--color-fourth);
    background-color: var(--color-second);
    height: 8vh;
}

.iconStart {
    width: 80px;
    z-index: 1;
}

.iconStart:hover {
    transform: scale(1.03);
}

.headerH1 {
    width:80%;
    max-width: max-content;
    background-color: var(--color-first);
    border-radius: 16px;
    box-shadow: 2px 2px 2px var(--color-fourth);
    cursor: default;
    z-index: 1;
}

nav {
    z-index: 1;
}

ul {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.hamburger {
    display: none;
    width: 2.5em;
    height: 2.5em;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-first);
    border: 2px solid var(--color-fourth);
    padding: 8px;
    border-radius: 16px;
}

.link:hover {
    color: var(--color-first);
    background-color: var(--color-third);
    border: 2px solid var(--color-fourth);
    transform: scale(1.03);
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: var(--color-first);
    gap: 12px;
    height: 82vh;
}

.question {
    color: var(--color-fourth);
    width: 85%;
    text-align: center;
    z-index: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  position: absolute;
  right: 1%;
  margin-top: 19.92px;
  color: var(--color-fourth);
  padding: 1px 4px;
  z-index: 1;
}

.menuTools {
  padding: 1px 4px;
  border: 1px solid var(--color-third);
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.menuToolsSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 40px;
  padding: 1px 4px;
  border: 1px solid var(--color-third);
  border-radius: 6px;
}

.editIcon {
  cursor: pointer;
}

.deleteIcon {
  cursor: pointer;
}

.optionsMain {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 90%;
    color: var(--color-fourth);
    border-top: 2px solid var(--color-third);
    border-bottom: 2px solid var(--color-third);
    border-radius: 16px;    
    line-height: 20px;
    padding: 8px 12px;
    height: 380px;
    overflow: auto;
    z-index: 1;
}

.optionsMain::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.optionsMain::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.checkOpt {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkOpt:hover {
    font-weight: bold;
    transform: scale(1.01);
    transition: 0.1s;
}

.inputOptions {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 8px;
    cursor: pointer;
}

.option {
    margin: 12px;
    font-size: 1.3rem;
    margin: 0;
    padding: 16px;
    cursor: pointer;
}

.buttonAnswer {
    color: var(--color-fourth);
    background-color: var(--color-second);
    padding: 16px;
    border: 2px solid var(--color-fourth);
    border-radius: 16px;
    border-style: dashed;
    cursor: pointer;
    z-index: 1;
}

.buttonAnswer:hover {
    border: 2px solid var(--color-third);
    transform: scale(1.03);
}

.answerClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    z-index: 1;
}

.answerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 80%;
    color: var(--color-fourth);
    cursor: pointer;
}

.answerTitle h3 {
    font-size: 1.3rem;
    margin: 0;
}

.answerTitle p {
    font-size: 12px;
    margin: 0;
}

.descriptionClass {
    text-align: justify;
    line-height: 24px;
    height: 110px;
    width: 80%;
    font-size: 1.3rem;
    color: var(--color-fourth);
    padding: 8px 12px;
    border-radius: 16px;
    overflow: auto;
}

.descriptionClass:hover {
    cursor: default;
    font-style: italic;
    font-weight: bold;
    background-color: var(--color-second);
    box-shadow: 3px 3px 3px var(--color-fourth);
    transform: scale(1.03);
    transition: 0.3s;
}

.descriptionClass::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}

.descriptionClass::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.buttonNext {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: var(--color-fourth);
    background-color: var(--color-second);
    padding: 16px;
    border: 2px solid var(--color-third);
    border-radius: 16px;
    border-style: dashed;
    cursor: pointer;
    z-index: 1;
}

.buttonNext:hover {
    border: 2px solid var(--color-third);
    transform: scale(1.03);
}

.buttonResultsModal {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: var(--color-fourth);
    background-color: var(--color-second);
    padding: 16px;
    border: 2px solid var(--color-fourth);
    border-radius: 50%;
    border-style: dashed;
    cursor: pointer;
    z-index: 1;
}

.buttonResultsModal:hover {
    border: 2px solid var(--color-third);
    transform: scale(1.03);
}

.footer {
    color: var(--color-fourth);
    background-color: var(--color-second);
    font-size: 1rem;
    text-align: center;
    position: relative;
    height: 10vh;
    width: 100%;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 20px;
    padding: 4px;
    border: 2px dotted var(--color-first);
    border-radius: 26px;
    z-index: 1;
}

.timer h1 {
    font-size: 16px;
    margin: 0;
}

.timer button {
    color: var(--color-fourth);
    background-color: var(--color-first);
    padding: 6px;
    margin: 0 3px;
    border: 1px solid var(--color-third);
    border-radius: 16px;
    border-style: dashed;
    cursor: pointer;
}

.timer button:hover {
    transform: scale(1.03);
}

.footer img {
    width: 50px;
}

.footer p {
    margin: 0;
}

.onClickClass {
    font-weight: bold;
    padding: 8px;
    border-radius: 16px;
    text-shadow: 1px 3px 3px #430A5D;
    background-color: #430A5D;
    max-width: max-content;
    max-height: max-content;
}

.invisible {
    display: none;
}

/* Responsividade */
@media (min-width: 1701px) {
    .header h1 {
        font-size: 1.6rem;
        padding: 0 8px;
    }

    .question {
        font-size: 1.5rem;
        padding: 0 8px;
    }

    .option {
        font-size: 1.5rem;
        line-height: 28px;
    }

    .answerTitle h3 {
        font-size: 1.5rem;
        padding: 0 8px;
    }

    .descriptionClass {
        font-size: 1.5rem;
    }

}

@media (max-width: 1700px) {
    .header h1 {
        font-size: 1.5rem;
        padding: 0 8px;
    }

    .ulIllustrative {
        font-size: 1.5rem;
    }

    .question {
        font-size: 1.5rem;
    }

    .option {
        font-size: 1.5rem;
        line-height: 28px;
    }

    .answerTitle h3 {
        font-size: 1.5rem;
        padding: 0 8px;
    }

    .descriptionClass {
        font-size: 1.5rem;
    }

}

@media (max-width: 1100px) {
    .iconStart {
        width: 70px;
    }
    
    .header h1 {
        font-size: 1.2rem;
    }

    .ulIllustrative {
        font-size: 1.2rem;
    }

    .question {
        font-size: 1.2rem;
    }

    .menu {
        font-size: 0.8rem;
    }

    .menuToolsSelector {
        width: 80%;
    }

    .optionsMain {
        height: 320px;
    }

    .inputOptions {
        width: 16px;
        height: 16px;
    }

    .option {
        font-size: 1.2rem;
    }

    .buttonAnswer {
        padding: 14px;
    }

    .answerTitle {
        font-size: 1.2rem;
    }

    .answerTitle p {
        font-size: 10px;
    }

    .descriptionClass {
        font-size: 1.2rem;
    }

    .buttonNext {
        padding: 14px;
    }

    .buttonResultsModal {
        padding: 14px;
    }

    .footer {
        text-align: end;
    }

    .footer img {
        padding-right: 8px;
    }
    
    .footer p {
        padding-right: 8px;
    }

}

@media (max-width: 860px) {    
    .iconStart {
        width: 60px;
    }

    .header h1 {
        font-size: 0.8rem;
        text-align: center;
    }

    .ulIllustrative {
        font-size: 1rem;
    }

    .question {
        font-size: 1rem;
        text-align: center;
        line-height: 28px;
        height: 80px;
        width: 77%;
        border: 1px dashed var(--color-fourth);
        border-radius: 8px;
        overflow: auto;
    }

    .question::-webkit-scrollbar {
        height: 2px;    
        width: 2px;
    }
    
    .question::-webkit-scrollbar-thumb {    
        background-color: var(--color-fourth);
    }

    .optionsMain {
        height: 300px;
    }

    .inputOptions {
        width: 14px;
        height: 14px;
    }

    .option {
        font-size: 1rem;
    }

    .buttonAnswer {
        padding: 12px;
    }

    .answerTitle {
        font-size: 1rem;
        text-align: center;
        max-height: max-content;
        max-width: max-content;
        border: 1px dashed var(--color-fourth);
        border-radius: 8px;
    }

    .answerTitle h3 {        
        padding: 2px;        
    }

    .answerTitle p {
        font-size: 9px;
    }

    .descriptionClass {
        font-size: 1rem;
        width: 75%;
        border: 1px dashed var(--color-fourth);
        border-radius: 8px;
    }

    .buttonNext {
        padding: 12px;
    }

    .buttonResultsModal {
        left: 12px;
        padding: 12px;
    }

    .footer {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 8vh;
        font-size: 0.9rem;
    }

    .footer img {
        display: none;
    }

    .footer p {
        padding-right: 8px;
    }

}

@media (max-width: 580px) { 
    .iconStart {
        width: 50px;
    } 
    
    .headerH1 {
        display: none;
    }

    .nav {
        position: relative;
    }

    .ulIllustrative {
        display: flex;
        align-items: start;
        flex-direction: column;
        font-size: 0.8rem;
        margin: 0;
        border-radius: 16px;
    } 
    
    .hamburger {
        display: flex;
        padding: 8px;
        cursor: pointer;
    }

    .hamburger:hover {
        background-color: rgba(0, 0, 0, 80%);
        border-radius: 50%;
    }   
        
    .link {
        display: none;
    }

    .question {
        font-size: 0.8rem;
        z-index: 0;
    }

    .menu {
        position: absolute;
        height: 7vh;
        right: 45%;
        top: -9%;
        color: var(--color-first);         
    }

    .menuTools {
        border: 2px solid var(--color-fourth);
    }

    .menuToolsSelector {
        border: 2px solid var(--color-fourth);
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .optionsMain {
        height: 350px;
    }
    
    .optionsMain::-webkit-scrollbar {
        width: 2px;
        height: 2px;  
    }

    .inputOptions {
        width: 12px;
        height: 12px;
    }

    .option {
        font-size: 0.8rem;
    }

    .buttonAnswer {
        padding: 8px;
    }

    .answerTitle {
        font-size: 0.8rem;
    }
    
    .answerTitle h3 {
        overflow: auto;
        height: 50px;
    }
    
    .answerTitle h3::-webkit-scrollbar {
        width: 2px;
        height: 2px;    
    }
    
    .answerTitle h3::-webkit-scrollbar-thumb {    
        background-color: var(--color-fourth);
    }
    
    .descriptionClass {
        font-size: 0.8rem;
        width: 65%;
    }
    
    .descriptionClass::-webkit-scrollbar {
        width: 2px;
        height: 2px;    
    }

    .buttonNext {
        bottom: 10px;
        right: 10px;
        padding: 4px;
    }

    .buttonResultsModal {
        bottom: 10px;
        left: 2px;
        padding: 4px;
    }

    .timer button {
        padding: 2px;
    }

    .footer {
        height: 10vh;
    }

    .footer p {
        font-size: 0.8rem;
        width: 200px;

    }

}
