.backgroundImage {
    position: absolute;
    height: 90vh;
    width: 100%;
    opacity: 0.1;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-fourth);
    background-color: var(--color-second);
    height: 8vh;
}

.headerIllustrativeTitle {
    background-color: var(--color-first);
    border-radius: 16px;
    margin-right: 8px;
    box-shadow: 2px 2px 2px var(--color-fourth);
    z-index: 1;
}

.headerH1 {
    z-index: 1;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 26px;
    padding: 2px;
    border: 2px dotted var(--color-first);
    border-radius: 26px;
}

.timer h1 {
    margin: 8px;
}

.timer button {
    color: var(--color-fourth);
    background-color: var(--color-first);
    padding: 6px;
    margin: 0 3px;
    border: 1px solid var(--color-third);
    border-radius: 16px;
    border-style: dashed;
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: var(--color-first);
    gap: 12px;
    height: 82vh;
}

.question {
    color: var(--color-fourth);
    width: 90%;
    text-align: center;
    z-index: 1;
}

.optionsMain {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 90%;
    color: var(--color-fourth);
    border-top: 2px solid var(--color-third);
    border-bottom: 2px solid var(--color-third);
    border-radius: 16px;    
    line-height: 20px;
    padding: 8px 12px;
    height: 380px;
    overflow: auto;
    z-index: 1;
}

.optionsMain::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.optionsMain::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.checkOpt {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkOpt:hover {
    font-weight: bold;
    transform: scale(1.01);
    transition: 0.1s;
}

.inputOptions {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.option {
    margin: 12px;
    font-size: 1.3rem;
    cursor: pointer;
}

.buttonAnswer {
    color: var(--color-fourth);
    background-color: var(--color-second);
    padding: 16px;
    border: 2px solid var(--color-fourth);
    border-radius: 16px;
    border-style: dashed;
    cursor: pointer;
    z-index: 1;
}

.buttonAnswer:hover {
    border: 3px solid var(--color-third);
    transform: scale(1.03);
}

.answerClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    z-index: 1;
}

.answerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 80%;
    color: var(--color-fourth);
    cursor: pointer;
}

.answerTitle h3 {
    font-size: 1.3rem;
    margin: 0;
}

.answerTitle p {
    font-size: 12px;
    margin: 0;
}

.descriptionClass {
    text-align: justify;
    line-height: 24px;
    height: 110px;
    width: 80%;
    font-size: 1.3rem;
    color: var(--color-fourth);
    padding: 8px 12px;
    border-radius: 16px;
    overflow: auto;
}

.descriptionClass:hover {
    cursor: default;
    font-style: italic;
    font-weight: bold;
    background-color: var(--color-second);
    box-shadow: 3px 3px 3px var(--color-fourth);
    transform: scale(1.03);
    transition: 0.3s;
}

.descriptionClass::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}

.descriptionClass::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.buttonNext {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: var(--color-fourth);
    background-color: var(--color-second);
    padding: 16px;
    border: 2px solid var(--color-third);
    border-radius: 16px;
    border-style: dashed;
    cursor: pointer;
    z-index: 1;
}

.buttonNext:hover {
    border: 3px solid var(--color-third);
    transform: scale(1.03);
}

.buttonResultsModal {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: var(--color-fourth);
    background-color: var(--color-second);
    padding: 16px;
    border: 2px solid var(--color-fourth);
    border-radius: 50%;
    border-style: dashed;
    cursor: pointer;
    z-index: 1;
}

.buttonResultsModal:hover {
    border: 3px solid var(--color-third);
    transform: scale(1.03);
}

.footer {
    color: var(--color-fourth);
    background-color: var(--color-second);
    text-align: center;
    height: 10vh;
    width: 100%;
    font-size: 1rem;
}

.footer img {
    width: 50px;
}

.footer p {
    margin: 0;
}

.onClickClass {
    font-weight: bold;
    padding: 8px;
    border-radius: 16px;
    text-shadow: 1px 3px 3px #430A5D;
    background-color: #430A5D;
    max-width: max-content;
    max-height: max-content;
}

.invisible {
    display: none;
}

/* Responsividade */
@media screen and (min-width: 1701px) {
    .header h1 {
        font-size: 1.6rem;
        padding: 0 8px;
    }

    .question {
        font-size: 1.5rem;
        padding: 0 8px;
    }

    .inputOptions {
        width: 20px;
        height: 20px;
    } 

    .option {
        font-size: 1.5rem;
        line-height: 28px;
        padding: 0 8px;
    }

    .answerTitle h3 {
        font-size: 1.5rem;
        padding: 0 8px;
    }

    .descriptionClass {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 1700px) {
    .header h1 {
        font-size: 1.5rem;
        padding: 0 8px;
    }

    .timer {
        height: 65px;
        width: 105px;
        top: 95vh;
        left: 18px;
    }

    .timer h1 {
        margin: 0;
    }

    .question {
        font-size: 1.5rem;
        padding: 0 8px;
    }

    .inputOptions {
        width: 20px;
        height: 20px;
    } 

    .option {
        font-size: 1.5rem;
        line-height: 28px;
        padding: 0 8px;
    }

    .answerTitle h3 {
        font-size: 1.5rem;
        padding: 0 8px;
    }

    .descriptionClass {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 1100px) {
    .header h1 {
        font-size: 1.2rem;
    }

    .timer {
        height: 60px;
        padding: 0;
    }

    .timer h1 {
        font-size: 16px;

    }

    .timer button {
        padding: 4px;
    }

    .question {
        font-size: 1.2rem;
    }

    .optionsMain {
        height: 320px;
    }

    .inputOptions {
        width: 16px;
        height: 16px;
    }

    .option {
        font-size: 1.2rem;
    }

    .button {
        padding: 14px;
    }

    .answerTitle {
        font-size: 1.2rem;
    }

    .answerTitle p {
        font-size: 10px;
    }

    .descriptionClass {
        font-size: 1.2rem;
    }

    .buttonnext {
        padding: 14px;
    }

    .buttonResultsModal {
        padding: 14px;
    }

    .footer {
        text-align: end;
    }

    .footer img {
        padding-right: 8px;
    }
    
    .footer p {
        padding-right: 8px;
    }

}

@media screen and (max-width: 860px) {
    .header h1 {
        font-size: 1rem;
        text-align: center;
    }

    .question {
        font-size: 1rem;
        text-align: center;
        line-height: 28px;
        height: 80px;
        border: 1px dashed var(--color-fourth);
        border-radius: 8px;
        overflow: auto;
    }

    .question::-webkit-scrollbar {
        height: 2px;    
        width: 2px;
    }
    
    .question::-webkit-scrollbar-thumb {    
        background-color: var(--color-fourth);
    }

    .optionsMain {
        height: 300px;
    }

    .inputOptions {
        width: 14px;
        height: 14px;
    }

    .option {
        font-size: 1rem;
        margin: 8px;
    }

    .button {
        padding: 12px;
    }

    .answerTitle {
        font-size: 1rem;
        text-align: center;
        max-height: max-content;
        max-width: max-content;
        border: 1px dashed var(--color-fourth);
        border-radius: 8px;
    }

    .answerTitle h3 {        
        padding: 2px;        
    }

    .answerTitle p {
        font-size: 9px;
    }

    .descriptionClass {
        font-size: 1rem;
        width: 75%;
        border: 1px dashed var(--color-fourth);
        border-radius: 8px;
    }

    .buttonnext {
        padding: 12px;
    }

    .buttonResultsModal {
        left: 12px;
        padding: 12px;
    }

    .footer {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 8vh;
        font-size: 0.9rem;
    }

    .footer img {
        display: none;
    }

    .footer p {
        padding-right: 8px;
    }

}

@media screen and (max-width: 580px) {
    .header h1 {
        font-size: 0.8rem;
    }

    .question {
        font-size: 0.8rem;
    }

    .optionsMain {
        height: 350px;
    }
    
    .optionsMain::-webkit-scrollbar {
        width: 2px;
        height: 2px;  
    }

    .inputOptions {
        width: 12px;
        height: 12px;
    }

    .option {
        font-size: 0.8rem;
    }

    .button {
        padding: 8px;
    }

    .answerTitle {
        font-size: 0.8rem;
    }
    
    .answerTitle h3 {
        overflow: auto;
        height: 50px;
    }
    
    .answerTitle h3::-webkit-scrollbar {
        width: 2px;
        height: 2px;    
    }
    
    .answerTitle h3::-webkit-scrollbar-thumb {    
        background-color: var(--color-fourth);
    }
    
    .descriptionClass {
        font-size: 0.8rem;
        width: 65%;
    }
    
    .descriptionClass::-webkit-scrollbar {
        width: 2px;
        height: 2px;    
    }

    .buttonnext {
        bottom: 10px;
        right: 10px;
        padding: 4px;
    }

    .buttonResultsModal {
        bottom: 10px;
        left: 2px;
        padding: 4px;
    }

    .footer p {
        font-size: 0.8rem;
        width: 200px;

    }

}
