.question {
    color: var(--color-fourth);
    width: 85%;
    padding: 0;
    text-align: center;
    cursor: default;
    z-index: 1;
}

/* Responsividade */
@media (min-width: 1701px) {
    .question {
        font-size: 1.5rem;
        padding: 0 8px;
    }

}

@media (max-width: 1700px) {
    .question {
        font-size: 1.5rem;
    }

}

@media (max-width: 1100px) {
    .question {
        font-size: 1.2rem;
    }

}

@media (max-width: 860px) {
    .question {
        font-size: 1rem;
        text-align: center;
        line-height: 28px;
        height: 80px;
        width: 77%;
        border: 1px dashed var(--color-fourth);
        border-radius: 8px;
        overflow: auto;
    }

    .question::-webkit-scrollbar {
        height: 2px;    
        width: 2px;
    }
    
    .question::-webkit-scrollbar-thumb {    
        background-color: var(--color-fourth);
    }

}

@media (max-width: 580px) {
    .question {
        font-size: 0.8rem;
        z-index: 0;
    }
    
}
