.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 91vh;
    left: 18px;
    padding: 4px;
    border: 2px dotted var(--color-first);
    border-radius: 26px;
    z-index: 1;
}

.timer h1 {
    font-size: 16px;
    margin: 0;
}

.timer button {
    color: var(--color-fourth);
    background-color: var(--color-first);
    padding: 6px;
    margin: 0 3px;
    border: 1px solid var(--color-third);
    border-radius: 16px;
    border-style: dashed;
    cursor: pointer;
}

.timer button:hover {
   transform: scale(1.03);
}

/* Responsividade */
@media screen and (max-width: 580px) {
    .timer button {
        padding: 2px;
    }
    
}
