.container {
  height: 16px; /* para ficar do tamanho do conteúdo */
  z-index: 1;
}

.editIcon {
  cursor: pointer;
}

.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: var(--color-fourth);
  background: transparent;
  font-weight: bold;
  width: 80%;
  padding: 20px 12px 40px 12px;
  border: 5px solid var(--color-fourth);
  border-radius: 12px;
  z-index: 1;
}

.modalContent h1 {
  color: var(--color-first);
  text-shadow: 2px 2px 3px var(--color-first);
  cursor: default;
}

.modalContent h1:hover {
  transform: scale(1.03);
}

.formModal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.modalImageDelete {
  position: absolute;
  top: 5px;
  right: 5px;
  /* utilize a unidade 'em' para alterar o tamanho da imagem do react icon */
  height: 2em;
  width: 2em;
  background-color: var(--color-second);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.modalImageDelete:hover {
  transform: scale(1.03);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.button {
  background-color: var(--color-second);
}

.popupRepeatedModalEdit {
  position: fixed;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: var(--color-first);
  background-color: var(--color-fourth);
  box-shadow: 3px 3px 3px var(--color-third);
  width: 15%;
  padding: 20px 12px 12px 12px;
  border: 1px solid var(--color-third);
  border-radius: 8px;
  z-index: 1; /* para estar a frente do conteúdo principal ao aparecer */
}

.popupCheckModalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: var(--color-first);
  background-color: var(--color-fourth);
  box-shadow: 3px 3px 3px var(--color-third);
  width: 15%;
  padding: 20px 12px 12px 12px;
  border: 1px solid var(--color-third);
  border-radius: 8px;
  z-index: 2; /* para estar a frente do conteúdo principal ao aparecer */
}

.popupAlreadySaved {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: var(--color-first);
  background-color: var(--color-fourth);
  box-shadow: 3px 3px 3px var(--color-third);
  width: 15%;
  padding: 20px 12px 12px 12px;
  border: 1px solid var(--color-third);
  border-radius: 8px;
  z-index: 2; /* para estar a frente do conteúdo principal ao aparecer */
}

/* Responsividade */
@media (max-width: 1100px) {
  .container {
    height: 13px; /* para ficar do tamanho do conteúdo */
  }

}

@media (max-width: 860px) {
  .modalContent h1 {
    font-size: 1.5rem;
  }

  .popupRepeatedModalEdit {
    font-size: 0.8rem;
    width: 20%;
  }

}

@media (max-width: 580px) {
  .popupRepeatedModalEdit {
    font-size: 0.7rem;
    width: 25%;
  }

}
