.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  position: absolute;
  right: 1%;
  margin-top: 19.92px;
  color: var(--color-fourth);
  padding: 1px 4px;
  z-index: 2;
}

.menuTools {
  padding: 1px 4px;
  border: 1px solid var(--color-third);
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.menuToolsSelector {
  padding-top: 2px;
  padding-bottom: 2px;
}

.menuIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 40px;
  padding: 1px 4px;
  border: 1px solid var(--color-third);
  border-radius: 6px;
}

.disableMenu {
  display: none;
}

.deleteIcon {
  cursor: pointer;
}

.popupDeleteMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: fixed;
  top: 25%;
  left: 50%;
  width: 30%;
  text-align: center;
  font-weight: bold;
  transform: translate(-50%, -50%);
  color: var(--color-first);
  background-color: var(--color-fourth);
  padding: 20px 12px 12px 12px;
  border: 1px solid var(--color-third);
  border-radius: 8px;
}

.invisibleAnswerDescription {
    visibility: hidden;

}

.invisibleDescription {
    visibility: hidden;
 
}

/* Responsividade */
@media (max-width: 1100px) {
  .menu {
    font-size: 0.8rem;
  }

  .menuToolsSelector {
    width: 80%;
  }

}

@media (max-width: 580px) {
  .menu {
    position: absolute;
    height: 7vh;
    right: 45%;
    top: -9%;
    color: var(--color-first);         
  }

  .menuTools {
    border: 2px solid var(--color-fourth);
  }

  .menuToolsSelector {
    border: 2px solid var(--color-fourth);
  }

}
