.bgLogin {
  height: 77vh;
  background-image: url(../../imgs/cloud-neon-vibe.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainPageInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  color: var(--color-fourth);
  background-color: var(--color-first);
}

.titlePage {
  margin: 0;
  cursor: default;
}

.imageContentSoon {
  width: 50%;
  border-radius: 16px;
  box-shadow: 5px 5px 3px var(--color-third);
}

/* Responsividade */
@media (max-width: 860px) {
  .imageContentSoon {
    width: 70%;

  }

}

@media (max-width: 580px) {    
  .imageContentSoon {
    width: 80%;

  }
    
}