.formsNewQuestionsOptions {
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: contain;
}

.backgroundImage { 
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.1;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 900px;
    font-size: 1rem; 
    color: var(--color-fourth);
    background-image: url(../../imgs/bg-forms.png);
    background-position: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 28%;
    padding: 0 12px;
}

.containerTitleForm {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.titleForm {
    font-style: italic;
    cursor: pointer;
    margin: 0;
    z-index: 1;
}

.optionClass {
    max-width: max-content;
}

.containerButtonSave {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttonSave {
    background-color: var(--color-second);
    z-index: 1;
}

.popupCheckForm {
    top: 20%;
    left: 25%;
    width: 40%;
} 

.popupRepeatedForms, .popupCompare, .popupCheckNumbers, .popupCheckRequiredFields {
    top: 20%;
    left: 40%;
}

.popupMessageTitle {
    bottom: 0;
    right: 0;
    width: max-content;
    padding: 12px;
}

.popupSuccessfully {
    top: 40%;
    left: 40%;
}

/* responsividade */
@media (min-width: 1921px) {
    .forms {
        background-size: cover;
    }

}

@media (max-width: 1920px) {
    .form {
        width: 25%;
    }

}

@media (max-width: 1660px) {
    .form {
        width: 34%;
    }

}

@media (max-width: 1440px) {
    .form {
        width: 40%;
    }

}

@media (max-width: 860px) {
    .form {
        width: 45%;
    }

    .titleForm {
        font-size: 1.3rem;
    }
    
    .buttonSubmit {
        padding: 12px;
    }

    .popupRepeatedForms {
        font-size: 0.8rem;
        width: 20%;
    }

    .popupCompare {
        font-size: 0.8rem;
        width: 20%;
    }
    
}

@media (max-width: 580px) {
    .form {
        width: 40%;
    }

    .titleForm {
        font-size: 1rem;
    }

    .buttonSubmit {
        padding: 8px;
    }

    .popupRepeatedForms {
        font-size: 0.7rem;
        width: 25%;
    }

    .popupCheckForm {
        font-size: 0.8rem;
    }

    .popupCompare {
        font-size: 0.7rem;
        width: 25%;
    }

}
