.multiOptionsAll {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 90%;
    padding: 0 12px;
    border-top: 2px solid var(--color-third);
    border-bottom: 2px solid var(--color-third);
    border-radius: 16px;
    line-height: 20px;        
    padding: 8px 12px;
    height: 380px;
    overflow: auto;
    z-index: 1;
}

.multiOptionsAll::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.multiOptionsAll::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.inputTextMultiOptions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.inputTextMultiOptions:hover {
    font-weight: bold;
    transform: scale(1.01);
}

.inputMultiOptions {
    appearance: none; /* remove o estilo padrão */
    width: 15px;
    height: 15px;
    position: relative;
    background-color: var(--color-first);
    border: 2px solid var(--color-second);
    transition: 0.3s;
    cursor: pointer;
}

.inputMultiOptions:checked {
    background-color: var(--color-second);
    border: 2px solid var(--color-fourth);
}

.inputMultiOptions:checked::after {
    content: "✓";
    font-size: 12px;
    color: var(--color-fourth);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centralizar o ponto */
}


.textMultiOptions {
    margin: 12px;
    cursor: pointer;
}

.answerBoolClass {
    opacity: 0;
}

/* Responsividade */
@media screen and (max-width: 1700px) {
    .inputMultiOptions {
        width: 20px;
        height: 20px;
    } 

    .textMultiOptions {
        font-size: 1.5rem;
        line-height: 28px;
        padding: 0 8px;
    }

}

@media screen and (max-width: 1100px) {
    .multiOptionsAll {
        height: 320px;
    }

    .inputMultiOptions {
        width: 16px;
        height: 16px;
    }

    .textMultiOptions {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 860px) {
    .multiOptionsAll {
        height: 300px;
    }

    .inputMultiOptions {
        width: 14px;
        height: 14px;
    }

    .textMultiOptions {
        font-size: 1rem;
        margin: 8px;
    }

}

@media screen and (max-width: 580px) {
    .multiOptionsAll {
        height: 350px;
    }

    .multiOptionsAll::-webkit-scrollbar {
        width: 2px;
        height: 2px;  
    }

    .inputMultiOptions {
        width: 12px;
        height: 12px;
    }

    .textMultiOptions {
        font-size: 0.8rem;
    }

}
