.multiOptions {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 90%;
    padding: 12px;
    border-top: 2px solid var(--color-third);
    border-bottom: 2px solid var(--color-third);
    border-radius: 16px;
    line-height: 20px;        
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

.multiOptions::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.multiOptions::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.alternativeMultiOptions {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
    width: 98%;
}

.alternativeMultiOptions:hover {
    font-weight: bold;
    transform: scale(1.01);
    transition: all 0.1s ease-in-out;
}

/* personalizando o estilo do input checkbox */
.inputMultiOptions {
    appearance: none; /* remove o estilo padrão */
    width: 20px;
    height: 20px;
    position: relative;
    background-color: var(--color-first);
    border: 2px solid var(--color-second);
    transition: 0.3s;
    padding: 4px;
    margin: 0;
    cursor: pointer;
}

.inputMultiOptions:checked {
    background-color: var(--color-second);
    border: 2px solid var(--color-fourth);
}

.inputMultiOptions:checked::after {
    content: "✓";
    font-size: 15px;
    color: var(--color-fourth);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centralizar o ponto */
}

.textMultiOptions {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: justify;
    cursor: pointer;
}

.textMultiOptions p {
    margin: 0;
}

.answerBool {
    opacity: 0; /* deixar invisíveis as palavras 'true' que estão em 2 das 5 opções mostradas */
}

/* Responsividade */
@media (min-width: 1701px) {
    .itemAlternativeMulti {
        font-size: 1.5rem;
    }

    .textMultiOptions {
        font-size: 1.5rem;
        line-height: 28px;
    }
    
}

@media (max-width: 1700px) {
    .inputMultiOptions {
        width: 20px;
        height: 20px;
    } 

    .itemAlternativeMulti {
        font-size: 1.5rem;
    }

    .textMultiOptions {
        font-size: 1.5rem;
        line-height: 28px;
    }

}

@media (max-width: 1100px) {
    .multiOptions {
        padding: 8px;
    }

    .inputMultiOptions {
        width: 16px;
        height: 16px;
    }

    .inputMultiOptions:checked::after {
        font-size: 10px;
    }

    .itemAlternativeMulti {
        font-size: 1.2rem;
    }

    .textMultiOptions {
        font-size: 1.2rem;
    }

}

@media (max-width: 860px) {
    .multiOptions {
        padding: 6px;
    }

    .inputMultiOptions {
        width: 14px;
        height: 14px;
    }

    .inputMultiOptions:checked::after {
        font-size: 9px;
    }

    .itemAlternativeMulti {
        font-size: 1rem;
    }

    .textMultiOptions {
        font-size: 1rem;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    .textMultiOptions::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    .textMultiOptions::-webkit-scrollbar-thumb {
        background-color: var(--color-fourth);
    }

}

@media (max-width: 580px) {
    .multiOptions {
        padding: 4px;
    }

    .multiOptions::-webkit-scrollbar {
        width: 2px;
        height: 2px;  
    }

    .inputMultiOptions {
        width: 12px;
        height: 12px;
    }

    .inputMultiOptions:checked::after {
        font-size: 7px;
    }

    .itemAlternativeMulti {
        font-size: 0.8rem;
    }

    .textMultiOptions {
        font-size: 0.8rem;
    }

}
