.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 12px;
    color: var(--color-fourth);
    background-color: var(--color-second);
    height: 8vh;
}

.linkHeader {
    z-index: 1;
}

.iconStart {
    width: 80px;
}

.iconStart:hover {
    transform: scale(1.03);
}

.header h1 {
    cursor: default;
    z-index: 1;
}

nav {
    z-index: 1;
}

ul {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0;
    text-decoration: underline;
    list-style: none;
}

.linksNavigation {
    color: var(--color-fourth);
}

.linksNavigation:hover {
    color: var(--color-first);
    text-decoration: underline var(--color-first);
}

.link:hover {
    transform: scale(1.03);
}

/* Responsividade */
@media screen and (min-width: 1701px) {
    .header h1 {
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 1700px) {
    .header h1 {
        font-size: 1.5rem;
    }

    ul {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 1100px) {
    .iconStart {
        width: 70px;
    }
    
    .header h1 {
        font-size: 1.2rem;
    }

    ul {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 860px) {
    .iconStart {
        width: 60px;
    }

    .header h1 {
        font-size: 1rem;
        text-align: center;
    }

    ul {
        font-size: 1rem;
    }

}

@media screen and (max-width: 580px) {
    .header h1 {
        font-size: 0.8rem;
    }

    ul {
        font-size: 0.8rem;
    }

    .iconStart {
        width: 50px;
    } 
    
}
