.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: var(--color-fourth);
    background-color: var(--color-second);
    height: 8vh;
    padding: 0 12px;
}

.linkHeader {
    z-index: 1;
}

.iconStart {
    width: 80px;
}

.iconStart:hover {
    transform: scale(1.03);
}

.headerTitle {
    cursor: default;
    z-index: 1;
}

nav {
    z-index: 1;
}

.hamburger {
    display: none;
    width: 2.5em;
    height: 2.5em;
}

ul {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
}

.linksNavigation {   
    color: var(--color-fourth);
    text-decoration: none;
}

/* Responsividade */
@media (min-width: 1701px) {
    .headerTitle {
        font-size: 1.8rem;
    }

}

@media (max-width: 1700px) {
    .headerTitle {
        font-size: 1.5rem;
    }

    ul {
        font-size: 1.5rem;
    }

}

@media (max-width: 1100px) {
    .iconStart {
        width: 70px;
    }
    
    .headerTitle {
        font-size: 1.2rem;
    }

    ul {
        font-size: 1.2rem;
    }

}

@media (max-width: 860px) {
    .iconStart {
        width: 60px;
    }

    .headerTitle {
        font-size: 1rem;
        text-align: center;
    }

    ul {
        font-size: 1rem;
    }

}

@media (max-width: 580px) {
    .iconStart {
        width: 50px;
    } 
    
    .headerTitle {
        display: none;
    }

    .nav {
        position: relative;
    }

    .hamburger {
        display: flex;
        padding: 8px;
        cursor: pointer;
    }

    .hamburger:hover {
        background-color: rgba(0, 0, 0, 80%);
        border-radius: 50%;
    }   

    .ulHeader {
        display: none;      
    }

    .ulAble {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        bottom: -90px;
        font-size: 0.8rem;
        background-color: rgba(0, 0, 0, 80%);
        padding: 4px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        z-index: 1;
    }
   
}
