.container {    
  z-index: 1;
}

.containerTextTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.buttonImageQuestionModal {
  bottom: 10px;
  left: 10px;
  background-color: var(--color-second);
}

.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  font-weight: bold;
  background-color: var(--color-first);
  width: 55%;
  min-height: 10%;
  color: var(--color-fourth);
  border-radius: 6px;
  z-index: 1;
}

.modalContent:focus {
  outline: none;
}

.containerTitleIconDelete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
}

.titleImage {
  cursor: default;
}

.modalIconDelete {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.modalIconDelete:hover {
  transform: scale(0.97);
}

.imageQuestion {
  width: 100%;
}

/* Responsividade */
@media (min-width: 1701px) {
  .titleImage {
    font-size: 1.5rem;
  }

}

@media (max-width: 1700px) {
  .titleImage {
    font-size: 1.3rem;
  }

}

@media (max-width: 1100px) {
  .titleImage {
    font-size: 1.1rem;
  }

  .modalIconDelete {
    height: 1.5em;
    width: 1.5em;
  }

}

@media (max-width: 860px) {
  .titleImage {
    font-size: 0.9rem;
  }

  .modalContent {
    width: 80%;
  }

}

@media (max-width: 580px) {
  .buttonImageQuestionModal {
    left: 2px;
  }

  .modalContent {
    width: 90%;
  }

  .titleImage {
    font-size: 0.8rem;
  }

  .modalIconDelete {
    height: 1em;
    width: 1em;
  }

}
