.pageBaseOutlet {
    height: 100vh;
}

.soundFull {
    top: 91vh;
    left: 2px;
    position: absolute;
    /* utilize a unidade 'em' para alterar o tamanho da imagem do react icon */
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
    z-index: 1;
}

.soundMute {
    display: none;
    top: 91vh;  
    left: 2px;
    position: absolute;
    /* utilize a unidade 'em' para alterar o tamanho da imagem do react icon */
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
    z-index: 1;
}

.backgroundImage {
    position: absolute;
    height: 90vh;
    width: 100%;
    opacity: 0.1;
    z-index: 1;
}
