.soundFull {
    top: 0;
    right: 8px;
    position: absolute;
    padding-top: 6px;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.soundMute {
    display: none;
    top: 0;  
    right: 8px;
    position: absolute;
    padding-top: 6px;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}