.soundFull {
    top: 0;
    right: 8px;
    position: absolute;
    padding-top: 6px;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.soundMute {
    display: none;
    top: 0;  
    right: 8px;
    position: absolute;
    padding-top: 6px;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.backgroundImage {
    position: absolute;
    height: 92.7vh;
    width: 100%;
    opacity: 0.1;
}

/* Responsividade */
@media screen and (max-width: 1700px) {
    .soundFull {
        top: 95vh;
        left: 2px;
        padding: 0;
    }
    
    .soundMute {
        top: 95vh;
        left: 2px;
        padding: 0;
    }

}
