.fieldModalEdit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.fieldModalEdit label {
  color: var(--color-first);
  text-shadow: 2px 2px 3px var(--color-first);
}

.fieldModalEdit label:hover {
  transform: scale(1.03);
}

/* Responsividade */
@media (max-width: 860px) {
  .fieldModalEdit input {
    height: 50px;
    width: 100%;
  }

}

@media (max-width: 580px) {
  .fieldModalEdit {
    flex-direction: column;
  }

  .fieldModalEdit input {
    height: 40px;
  }

}
