/* Estiliza o rodapé da página */
.footer {
    color: var(--color-fourth);
    background-color: var(--color-second);
    text-align: center;
    padding: 8px 0;
    width: 100%;
    font-size: 1rem;
    height: 10vh;
}

.footer img {
    width: 50px;
}

.footer p {
    margin: 0;
}
