.footer {
    color: var(--color-fourth);
    background-color: var(--color-second);
    font-size: 1rem;
    text-align: center;
    position: relative;
    height: 10vh;
    width: 100%;
}

.footer img {
    width: 50px;
}

.footer p {
    margin: 0;
    cursor: default;
}

/* Responsividade */
@media screen and (max-width: 860px) {
    .footer {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 8vh;
        font-size: 0.9rem;
    }

    .footer img {
        display: none;
    }

    .footer p {
        padding-right: 8px;
    }
    
}

@media screen and (max-width: 580px) {
    .footer p {
        font-size: 0.8rem;
        width: 200px;

    }

}
