.newQuestionsOptionsPage {
    background-color: var(--color-first);
}

.invisible {
    display: none;
}

.bgLogin {
    height: 77vh;
    background-image: url(../../imgs/cloud-neon-vibe.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
