.question {
    color: var(--color-fourth);
    text-align: justify;
    padding: 0;
    margin: 0;
    cursor: default;
    z-index: 1;
}

/* Responsiveness */
@media (min-width: 1701px) {
    .question {
        font-size: 1.5rem;
    }

}

@media (max-width: 1700px) {
    .question {
        font-size: 1.3rem;
    }

}

@media (max-width: 1100px) {
    .question {
        font-size: 1.1rem;
    }

}

@media (max-width: 860px) {
    .question {
        font-size: 0.9rem;
        line-height: 28px;
    }

}

@media (max-width: 580px) {
    .question {
        font-size: 0.8rem;
    }
    
}
