.multiMain {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: var(--color-first);
  gap: 12px;
  height: 82vh;
}

.optionColorMulti {
  color: var(--color-third);
}

.popupRepeatedMultiMain {
  position: fixed;
  left: 85%;
  bottom: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: var(--color-first);
  background-color: var(--color-fourth);
  width: 15%;
  padding: 20px 12px 12px 12px;
  border: 1px solid var(--color-third);
  border-radius: 8px;
  z-index: 2; /* para estar a frente do conteúdo principal ao aparecer */
}

.optionValidate {
  color: var(--color-correct);
  font-weight: bold;
  border: 2px solid var(--color-correct);
  border-radius: 16px;
}

.optionInvalidate {
  color: var(--color-incorrect);
  font-weight: bold;
}

/* personalizando o estilo do input checkbox */
.inputMultiOptions {
  appearance: none; /* remove o estilo padrão */
  position: relative;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid var(--color-second);
  border-radius: 25%;
  transition: 0.1s ease-in-out;
  margin: 0;
  cursor: pointer;
}

.inputMultiOptions:checked {
  background-color: var(--color-second);
  border: 2px solid var(--color-fourth);
}

.inputMultiOptions:checked::after {
  position: absolute;
  content: "✓";
  top: 50%;
  left: 50%;
  font-size: 15px;
  color: var(--color-fourth);
  font-weight: bold;
  transform: translate(-50%, -50%); /* centralizar o ponto */
}

.inputValidate {
  position: relative;
  appearance: none; /* remove o estilo padrão */
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid var(--color-correct);
  border-radius: 25%;
  transition: 0.1s ease-in-out;
  margin: 0;
  cursor: pointer;
}

.inputValidate:checked::after {   
  position: absolute;
  content: "✓";
  top: 50%;
  left: 50%;
  font-size: 15px;
  color: var(--color-correct);
  font-weight: bold;
  transform: translate(-50%, -50%); /* centralizar o ponto */
}

.inputInvalidate {
  position: relative;
  appearance: none; /* remove o estilo padrão */
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid var(--color-incorrect);
  border-radius: 25%;
  transition: 0.1s ease-in-out;
  margin: 0;
  cursor: pointer;
}

.inputInvalidate:checked::after {
  position: absolute; 
  content: "✖";
  top: 50%;
  left: 50%;
  font-size: 15px;
  color: var(--color-incorrect);
  font-weight: bold;
  transform: translate(-50%, -50%); /* centralizar o ponto */
}

/* Responsividade */
@media (min-width: 1700px) {
  .inputMultiOptions {
    padding: 8px;
  }

  .inputValidate {
    padding: 8px;
  }

  .inputInvalidate {
    padding: 8px;
  }

}

@media (max-width: 1700px) {
  .inputMultiOptions {
    padding: 8px;
  }

  .inputValidate {
    padding: 8px;
  }

  .inputInvalidate {
    padding: 8px;
  }

}

@media (max-width: 1100px) {
  .inputMultiOptions {
    width: 16px;
    height: 16px;
    padding: 7px;
  }
    
  .inputMultiOptions:checked::after {
    font-size: 12px;
  }

  .inputValidate {
    width: 16px;
    height: 16px;
    padding: 7px;
  }

  .inputValidate:checked::after {
    font-size: 12px;
  }

  .inputInvalidate {
    width: 16px;
    height: 16px;
    padding: 7px;
  }

  .inputInvalidate:checked::after {
    font-size: 12px;
  }

}

@media (max-width: 860px) {
  .inputMultiOptions {
    width: 14px;
    height: 14px;
    padding: 6px;
  }

  .inputMultiOptions:checked::after {
    font-size: 10px;
  }

  .inputValidate {
    width: 14px;
    height: 14px;
    padding: 6px;
  }

  .inputValidate:checked::after {
    font-size: 10px;
  }

  .inputInvalidate {
    width: 14px;
    height: 14px;
    padding: 6px;
  }

  .inputInvalidate:checked::after {
    font-size: 10px;
  }

  .popupRepeatedMultiMain {
    font-size: 0.8rem;
    width: 20%;
  }

}

@media (max-width: 580px) {
  .inputMultiOptions {
    width: 12px;
    height: 12px;
    padding: 5px;
  }
  
  .inputMultiOptions:checked::after {
    font-size: 9px;
  }

  .inputValidate {
    width: 12px;
    height: 12px;
    padding: 5px;
  }

  .inputValidate:checked::after {
    font-size: 9px;
  }

  .inputInvalidate {
    width: 12px;
    height: 12px;
    padding: 5px;
  }

  .inputInvalidate:checked::after {
    font-size: 9px;
  }

  .popupRepeatedMultiMain {
    font-size: 0.7rem;
    width: 25%;
  }

}
