.multiMain {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: var(--color-first);
  gap: 12px;
  height: 82vh;
}

.optionColorMulti {
  color: var(--color-third);
}

.popupMultiMain {
  position: fixed;
  left: 85%;
  bottom: 15%;
  transform: translate(-50%, -50%);
  color: var(--color-first);
  text-align: center;
  font-weight: bold;
  width: 15%;
  padding: 20px 12px 12px 12px;
  border: 1px solid var(--color-third);
  border-radius: 8px;
  z-index: 2; /* para estar a frente do conteúdo principal ao aparecer */
  background-color: var(--color-incorrect);
}

/* Responsividade */
@media (max-width: 860px) {
  .popupMultiMain {
    font-size: 0.8rem;
    width: 20%;
  }

}

@media (max-width: 580px) {
  .popupMultiMain {
    font-size: 0.7rem;
    width: 25%;
  }

}
