.buttonNext {
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: var(--color-second);
    z-index: 1;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

/* Responsividade */
@media (max-width: 1100px) {
    .buttonNext {
        padding: 14px;
    }

}

@media (max-width: 860px) {
    .buttonNext {
        padding: 12px;
    }

}

@media (max-width: 580px) {
    .buttonNext {
        bottom: 10px;
        right: 10px;
        padding: 4px;
    }

}
