.buttonNext {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--color-second);
    z-index: 1;
}

/* Responsividade */
@media (max-width: 580px) {
    .buttonNext {
        right: 2px;
    }

}
