.containerfieldModalEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.fieldModalEdit {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  color: var(--color-first);
  padding: 1px;
}

.fieldSelectModalEdit {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  color: var(--color-first);
  height: 30px;
}

.nameLabelText {
  color: var(--color-fourth);
  background-color: var(--color-first);
  padding: 5px;
  border: 1px solid var(--color-third);
  border-radius: 8px;
}

.nameErrorLabelText {
  color: var(--color-incorrect);
}

.inputFieldModalEdit {
  color: var(--color-fourth);
  background-color: var(--color-first);
  border: 1px solid var(--color-third);
  width: 99%;
}

.inputErrorFieldModalEdit {
  color: var(--color-first);
  background-color: var(--color-first);
  border: 1px solid var(--color-third);
}

.selectWrap {
  position: relative;
  width: 160px;
  background-color: var(--color-first);
  border: 1px solid var(--color-third);
  border-radius: 10px;
  height: 30px;
}

.selectWrap::after {
  content: "";
  position: absolute;
  right: 14px;
  top: 50%;
  width: 8px;
  height: 8px;
  border-right: 2px solid var(--color-fourth);
  border-bottom: 2px solid var(--color-fourth);
  transform: translateY(-70%) rotate(45deg);
  transition: transform 0.2s ease;
  pointer-events: none;
}

.selectWrap.openSelect::after {
  transform: translateY(-30%) rotate(-135deg);
}

select {
  color: var(--color-fourth);
  width: 100%;
  font-size: 0.9rem;
  padding: 6px 32px 6px 6px;
  height: 100%;
  border-radius: 8px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.errorMessageText {
  font-size: 0.8rem;
  color: var(--color-incorrect);
}

/* Responsiveness */
@media (min-width: 1700px) {
  .errorMessageText {
    font-size: 0.9rem;
  }

}

@media (max-width: 1700px) {
  .errorMessageText {
    font-size: 0.8rem;
  }
}

@media (max-width: 1100px) {
  .errorMessageText {
    font-size: 0.7rem;
  }

}

@media (max-width: 860px) {
  .inputFieldModalEdit {
    height: 50px;
  }

  .selectWrap {
    width: 100px;
  }

  .errorMessageText {
    font-size: 0.6rem;
  }

}

@media (max-width: 580px) {
  .fieldModalEdit {
    flex-direction: column;
    width: 98%;
    border: 1px solid var(--color-second);
    border-radius: 8px;
  }

  .fieldSelectModalEdit {
    width: max-content;
    border: 1px solid var(--color-second);
    border-radius: 8px;
  }

  .inputFieldModalEdit {
    height: 40px;
  }

  .selectWrap {
    width: 40px;
  }

  .errorMessageText {
    font-size: 0.5rem;
  }

}
