.field {
    width: 100%;
    padding: 4px;
    z-index: 1;
}

.containerFieldSelect {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}

.labelTextarea {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    font-weight: bold;
    width: 100%;
}

.labelTextarea label {
    font-size: 1rem;
}

textarea {
    font-size: 1rem;
    color: var(--color-fourth);
    background-color: transparent;
    height: 50px;
    width: 100%;
    border: 1px solid var(--color-third);
    border-radius: 8px;
    outline: none;
    resize: none;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-color: var(--color-first) var(--color-fourth);
}

input {
    font-size: 1rem;
    color: var(--color-fourth);
    background-color: transparent;
    height: 50px;
    width: 100%;
    appearance: none;
    border: 1px solid var(--color-third);
    border-radius: 8px;
    outline: none;
}

/* esconder os spinners (setas de incremento/decremento) nos navegadores */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.selectWrap {
    position: relative;
    width: 160px;
}

.selectWrap::after {
    content: "";
    position: absolute;
    right: 14px;
    top: 50%;
    width: 8px;
    height: 8px;
    border-right: 2px solid var(--color-fourth);
    border-bottom: 2px solid var(--color-fourth);
    transform: translateY(-70%) rotate(45deg);
    transition: transform 0.2s ease;
    pointer-events: none;
}

.selectWrap.openSelect::after {
  transform: translateY(-30%) rotate(-135deg);
}

select {
    color: var(--color-fourth);
    background-color: transparent;
    width: 100%;
    font-size: 0.9rem;
    padding: 6px 32px 6px 6px;
    border: 1px solid var(--color-second);
    border-radius: 8px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
}

option {
    color: var(--color-first);
    background-color: var(--color-third);
    
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}

/* responsividade */
@media (max-width: 860px) {
    .labelTextarea label {
        font-size: 0.9rem;
    }

    .selectWrap {
        width: 100px;
    }
    
}

@media (max-width: 580px) {
    .labelTextarea label {
        font-size: 0.8rem;
    }

    .labelTextarea textarea {
        height: 50px;
    }

    .selectWrap {
        width: 40px;
    }

}
