.pageDemoStyles {
    position: relative;
}

.allQuestionsDemoClass {
    position: relative;
    height: 90vh;
    background-color: var(--color-first);
}

.invisibleAnswerDescription {
    visibility: hidden;
}

.invisibleDescription {
    visibility: hidden;
}
