.answerClass {
    width: 90%;
}

.answerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 80%;
    cursor: pointer;
}

.answerTitle p {
    font-size: 12px;
}

.visibleDescription {
    visibility: visible;
    text-align: center;
    width: 80%;
    padding: 8px 12px;
    border: 2px solid var(--color-third);
    border-radius: 16px;
    line-height: 20px;
}

.invisible {
    visibility: hidden;
}

.descriptionNewStyleClass {
    cursor: default;
    font-style: italic;
    font-weight: bold;
    background-color: var(--color-second);
    box-shadow: 3px 3px 3px var(--color-fourth);
    transform: scale(1.03);
    transition: 0.3s;
}
