/* .answer {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-fourth);
} */

.answerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.answerTitle p {
    font-size: 12px;
}

/* .description {
    visibility: hidden;
    text-align: center;
    width: 20%;
    padding: 16px;
    border: 2px solid var(--color-third);
    border-radius: 16px;
} */

.visible {
    /* Utilized setAttribute method */
}
