.answerClass {
    width: 90%;
    z-index: 1;
}

.answerTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    width: 80%;
    cursor: pointer;
    overflow-wrap: break-word;
    overflow: auto;
}

.answerTitle::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.answerTitle::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.answerTitle h3 {
    margin: 0;
}

.answerTitle p {
    font-size: 12px;
    margin: 0;
}

.visibleDescription {
    visibility: visible;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 24px;
    height: 110px;
    width: 80%;
    padding: 8px 12px;
    border-radius: 16px;
    overflow-wrap: break-word;
    overflow: auto;
}

.imageDescription {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 6px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px var(--color-fourth);
}

.descriptionNewStyleClass {
    cursor: default;
    font-style: italic;
    font-weight: bold;
    background-color: var(--color-second);
    box-shadow: 3px 3px 3px var(--color-fourth);
    transform: scale(1.03);
    transition: 0.3s;
}

.visibleDescription::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.visibleDescription::-webkit-scrollbar-thumb {
    background-color: var(--color-fourth);
}

.invisible {
    visibility: hidden;
}

/* Responsividade */
@media (min-width: 1701px) {
    .answerTitle {
        font-size: 1.3rem;
        padding: 0 8px;
    }

    .visibleDescription {
        font-size: 1.3rem;
    }

}

@media (max-width: 1700px) {
    .answerTitle {
        font-size: 1.3rem;
        padding: 0 8px;
    }

    .visibleDescription {
        font-size: 1.3rem;
    }

}

@media (max-width: 1100px) {
    .answerTitle {
        font-size: 1.2rem;
    }

    .answerTitle p {
        font-size: 10px;
    }

    .visibleDescription {
        font-size: 1.2rem;
    }

    .imageDescription {
        width: 1.2rem;
        height: 1.2rem;
    }
  
}

@media (max-width: 860px) {
    .answerTitle {
        font-size: 1rem;
        text-align: center;
        max-height: max-content;
        max-width: max-content;
        border: 1px dashed var(--color-fourth);
        border-radius: 8px;
    }

    .answerTitle h3 {
        padding: 2px;
    }

    .answerTitle p {
        font-size: 9px;
    }

    .visibleDescription {
        font-size: 1rem;
        width: 75%;
        border: 1px dashed var(--color-fourth);
        border-radius: 8px;
    }

    .imageDescription {
        width: 1rem;
        height: 1rem;
    }

}

@media (max-width: 580px) {
    .answerTitle {
        font-size: 0.8rem;
    }

    .answerTitle h3 {
        height: 50px;
        overflow: auto;
    }

    .answerTitle h3::-webkit-scrollbar {
        height: 3px;    
        width: 3px;
    }
    
    .answerTitle h3::-webkit-scrollbar-thumb {    
        background-color: var(--color-fourth);
    }

    .visibleDescription {
        font-size: 0.8rem;
        width: 65%;
    }

    .visibleDescription::-webkit-scrollbar {
        width: 3px;
        height: 3px;    
    }

    .imageDescription {
        width: 0.8rem;
        height: 0.8rem;
    }

}
